################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lerato Mokoena Doc .docx
.vs/
Lerato.Mokoena.Application.Core/obj/Lerato.Mokoena.Application.Core.csproj.nuget.dgspec.json
Lerato.Mokoena.Application.Core/obj/Lerato.Mokoena.Application.Core.csproj.nuget.g.props
Lerato.Mokoena.Application.Core/obj/Lerato.Mokoena.Application.Core.csproj.nuget.g.targets
Lerato.Mokoena.Application.Core/obj/project.assets.json
Lerato.Mokoena.Application.Core/obj/project.nuget.cache
Lerato.Mokoena.Application.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Lerato.Mokoena.Application.Core/obj/Debug/net6.0/Lerato.Mokoena.Application.Core.AssemblyInfo.cs
Lerato.Mokoena.Application.Core/obj/Debug/net6.0/Lerato.Mokoena.Application.Core.AssemblyInfoInputs.cache
Lerato.Mokoena.Application.Core/obj/Debug/net6.0/Lerato.Mokoena.Application.Core.assets.cache
Lerato.Mokoena.Application.Core/obj/Debug/net6.0/Lerato.Mokoena.Application.Core.csproj.AssemblyReference.cache
Lerato.Mokoena.Application.Core/obj/Debug/net6.0/Lerato.Mokoena.Application.Core.GeneratedMSBuildEditorConfig.editorconfig
Lerato.Mokoena.Application.Core/obj/Debug/net6.0/Lerato.Mokoena.Application.Core.GlobalUsings.g.cs
Lerato.Mokoena.Application.Services/obj/Lerato.Mokoena.Application.Services.csproj.nuget.dgspec.json
Lerato.Mokoena.Application.Services/obj/Lerato.Mokoena.Application.Services.csproj.nuget.g.props
Lerato.Mokoena.Application.Services/obj/Lerato.Mokoena.Application.Services.csproj.nuget.g.targets
Lerato.Mokoena.Application.Services/obj/project.assets.json
Lerato.Mokoena.Application.Services/obj/project.nuget.cache
Lerato.Mokoena.Application.Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Lerato.Mokoena.Application.Services/obj/Debug/net6.0/Lerato.Mokoena.Application.Services.AssemblyInfo.cs
Lerato.Mokoena.Application.Services/obj/Debug/net6.0/Lerato.Mokoena.Application.Services.AssemblyInfoInputs.cache
Lerato.Mokoena.Application.Services/obj/Debug/net6.0/Lerato.Mokoena.Application.Services.assets.cache
Lerato.Mokoena.Application.Services/obj/Debug/net6.0/Lerato.Mokoena.Application.Services.csproj.AssemblyReference.cache
Lerato.Mokoena.Application.Services/obj/Debug/net6.0/Lerato.Mokoena.Application.Services.GeneratedMSBuildEditorConfig.editorconfig
Lerato.Mokoena.Application.Services/obj/Debug/net6.0/Lerato.Mokoena.Application.Services.GlobalUsings.g.cs
Lerato.Mokoena.CompositionRoot/obj/Lerato.Mokoena.CompositionRoot.csproj.nuget.dgspec.json
Lerato.Mokoena.CompositionRoot/obj/Lerato.Mokoena.CompositionRoot.csproj.nuget.g.props
Lerato.Mokoena.CompositionRoot/obj/Lerato.Mokoena.CompositionRoot.csproj.nuget.g.targets
Lerato.Mokoena.CompositionRoot/obj/project.assets.json
Lerato.Mokoena.CompositionRoot/obj/project.nuget.cache
Lerato.Mokoena.CompositionRoot/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Lerato.Mokoena.CompositionRoot/obj/Debug/net6.0/Lerato.Mokoena.CompositionRoot.AssemblyInfo.cs
Lerato.Mokoena.CompositionRoot/obj/Debug/net6.0/Lerato.Mokoena.CompositionRoot.AssemblyInfoInputs.cache
Lerato.Mokoena.CompositionRoot/obj/Debug/net6.0/Lerato.Mokoena.CompositionRoot.assets.cache
Lerato.Mokoena.CompositionRoot/obj/Debug/net6.0/Lerato.Mokoena.CompositionRoot.csproj.AssemblyReference.cache
Lerato.Mokoena.CompositionRoot/obj/Debug/net6.0/Lerato.Mokoena.CompositionRoot.GeneratedMSBuildEditorConfig.editorconfig
Lerato.Mokoena.CompositionRoot/obj/Debug/net6.0/Lerato.Mokoena.CompositionRoot.GlobalUsings.g.cs
Lerato.Mokoena.VehiclePosition/obj/Lerato.Mokoena.VehiclePosition.csproj.nuget.dgspec.json
Lerato.Mokoena.VehiclePosition/obj/Lerato.Mokoena.VehiclePosition.csproj.nuget.g.props
Lerato.Mokoena.VehiclePosition/obj/Lerato.Mokoena.VehiclePosition.csproj.nuget.g.targets
Lerato.Mokoena.VehiclePosition/obj/project.assets.json
Lerato.Mokoena.VehiclePosition/obj/project.nuget.cache
Lerato.Mokoena.VehiclePosition/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Lerato.Mokoena.VehiclePosition/obj/Debug/net6.0/Lerato.Mokoena.VehiclePosition.AssemblyInfo.cs
Lerato.Mokoena.VehiclePosition/obj/Debug/net6.0/Lerato.Mokoena.VehiclePosition.AssemblyInfoInputs.cache
Lerato.Mokoena.VehiclePosition/obj/Debug/net6.0/Lerato.Mokoena.VehiclePosition.assets.cache
Lerato.Mokoena.VehiclePosition/obj/Debug/net6.0/Lerato.Mokoena.VehiclePosition.csproj.AssemblyReference.cache
Lerato.Mokoena.VehiclePosition/obj/Debug/net6.0/Lerato.Mokoena.VehiclePosition.GeneratedMSBuildEditorConfig.editorconfig
Lerato.Mokoena.VehiclePosition/obj/Debug/net6.0/Lerato.Mokoena.VehiclePosition.GlobalUsings.g.cs
